* {
    box-sizing: border-box;
    outline: none;
}

html, body{
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100% !important;
    min-height: 100%;

    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.page {
    position: relative;
}

.title {
    font-size: 1.42rem;
    text-align: center;
    margin: 1.2rem auto;
}

.init-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(204, 204, 204);
}

.showcases {

}

.showcases a{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    width: 100%;
    padding: 1.2rem 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1.14rem;
    overflow: hidden
}

.showcases a:before{
    content: " ";
    position: absolute;
    left: 1.1rem;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.showcases a:nth-child(1):after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.showcases a:last-of-type:before{
    left: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .showcases a::before {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }

    .showcases a::after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.showcases a span {
    line-height: 1;
}

.showcases a span:nth-child(1){
    flex: 0 1 2.2rem;
    color: #f07c01;
    font-size: 1.4rem;
}

.showcases a span:nth-child(2){
    flex: 1 1 80%;
    font-size: 1.1rem;
    font-weight: 400;
}

.showcases a span:nth-child(3){
    flex: 1 1 10%;
    color: #f0943f;
    text-align: center;
}

.showcases a .mask:after{
    background-color: #000;
    content: " ";
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

/*.showcases a .mask:active:after{
    opacity: .1;
}*/

/*.showcases a.active .mask:after{
    opacity: .1;
}*/

.showcases a:active {
    background-color: #f2f2f2;
}

.signature {
    margin: 1rem auto 3rem;
    font-size: 10px;
    color: #666666;
    text-align: center;
    letter-spacing: 1px;
}

.signature i {
    color: #f07c01;
}

.overlayer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.overlayer i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(204, 204, 204);
}

/* style for cases*/

.subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.subtitle .page-back {
    flex: 1 1 20%;
    height: 4.14rem;
}

.subtitle .page-back a{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 2rem;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    color: #f0943f;
}

.subtitle .page-title{
    flex: 1 1 60%;
    height: 4.14rem;
    font-size: 1.42rem;
    text-align: center;
    line-height: 4.14rem;
}

.subtitle .extension{
    flex: 1 1 20%;
}

.subtitle .desc{
    flex: 1 1 100%;
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #eee;
}

.showcases .sorry{
    padding: 0.4rem 1rem 0.2rem;
    font-size: 1rem;
    color: #999;
    text-align: center;
    background-color: #fff;
    position: relative;
}

.showcases .sorry:nth-child(1){
    padding: 0.4rem 1rem 0.1rem;
}

.showcases .sorry:nth-child(2){
    padding: 0.1rem 1rem 0.4rem;
}

.showcases .sorry:nth-child(1):after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.showcases .sorry:nth-child(2):before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .showcases .sorry:nth-child(2)::before {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }

    .showcases .sorry:nth-child(1)::after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.viewport {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    position: relative;
}

.spin {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(204, 204, 204);
}

.hidden {
    display: none;
}

.error {
    margin: 6rem auto;
    font-size: 1.1rem;
    color: #999;
    text-align: center;
}

.error a{
    text-decoration: none;
    color: #f07c01;
}

.error div:nth-child(1){
    margin-bottom: 0.3rem;
}

/*style for scrollLoading start*/

.scrollloading-card{
    margin: 0.5rem auto;
    width: 95%;
    background-color: #f1f1f1;
}

.scrollloading-card header span:nth-child(1) {
    float: left;
    padding: 0.4rem 0.4rem 0;

}

.scrollloading-card header span:nth-child(2) {
    float: right;
    padding: 0.4rem 0.4rem 0;
}

.scrollloading-card section{
    clear: both;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #f07c01;
}

.viewport .scrollloading-tips{
    margin: 1rem auto;
    font-size: 1.1rem;
    color: #999;
    text-align: center;
}

/*style for scrollLoading end*/

/*style for pulldown & pullup start*/
.pulldown, .pullup{
    overflow: hidden;
}

.pulldown-content.is-dropped, .pullup-content.is-dropped {
    -webkit-transition: .2s;
    transition: .2s;
}

.pulldown-content.is-dropped-slow, .pullup-content.is-dropped-slow {
    -webkit-transition: .6s;
    transition: .6s;
}

.pulldown-top {
    margin-top: -50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
    color: #333;
}

.pullup-bottom {
    margin-bottom: -50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
    color: #333;
}

.pulldown-top span{
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    vertical-align: middle;
}

.pullup-bottom span{
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    vertical-align: middle;
}

.pulldown-top .is-rotated {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pullup-bottom .is-rotated {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pulldown-top .pulldown-tips {
    font-size: 1.1rem;
    color: #999;
}

.pullup-bottom .pullup-tips {
    font-size: 1.1rem;
    color: #999;
}

.spinner-snake {
    -webkit-animation: mint-spinner-rotate .8s infinite linear;
    animation: mint-spinner-rotate .8s infinite linear;
    border: 4px solid transparent;
    border-radius: 50%;

}

@keyframes mint-spinner-rotate
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@-webkit-keyframes mint-spinner-rotate /*Safari and Chrome*/
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
/*style for pulldown & pullup end*/

/*style for menu extension start*/

.menuEx-content {
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.menuEx-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 100%;
    border-top: 1px solid #eee;
}

.menuEx-foot {
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    height: 100%;
}

.menuEx-foot>a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #AEAEAE;
}

.menuEx-foot>a i{
    display: block;
    width: 100%;
    font-size: 1.8rem;
    height: 30px;
    padding-top: 5px;
}
.menuEx-foot>a span{
    display: block;
    width: 100%;
    font-size: 0.8rem;
}

.menuEx-foot.menuEx-plus>a i{
    height: 100%;
    font-size: 3rem;
    color: #f07c01;
    padding-top:3px;
}

.menuEx-card {
    margin: 0.7rem 0;
    width: 100%;
    height: 14rem;
    background-color: #f1f1f1;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px .1875rem -.125rem rgba(0,0,0,.2);
}

.menuEx-card section{
    font-size: 1.5rem;
    color: #f07c01;
    text-align: center;
    line-height: 14rem;
}

.menuEx-overlayer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.93);
    z-index: 998;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.menuEx-popup {
    position: fixed;
    width: 100%;
    top: 40%;
    left: 0;
    z-index: 999;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.menuEx-popup .menuEx-icons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
    transition: all 0.5s;
}

.menuEx-icons-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.menuEx-icon {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.menuEx-icon a{
    display: block;
    text-decoration: none;
    text-align: center;
    transform: translate3d(0, 27rem, 0);
    transition: all 1s cubic-bezier(.82, -0.37, .17, 1.39);
}

.menuEx-icon a>i{
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    margin: auto;
    line-height: 4.8rem;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
}

.menuEx-icons .menuEx-icons-group:nth-child(1) .menuEx-icon:nth-child(1) a i {
    background-color: #cd8484;
}
.menuEx-icons .menuEx-icons-group:nth-child(1) .menuEx-icon:nth-child(2) a i {
    background-color: #ec9f83;
}
.menuEx-icons .menuEx-icons-group:nth-child(1) .menuEx-icon:nth-child(3) a i {
    background-color: #cdb274;
}
.menuEx-icons .menuEx-icons-group:nth-child(1) .menuEx-icon:nth-child(4) a i {
    background-color: #88b999;
}
.menuEx-icons .menuEx-icons-group:nth-child(1) .menuEx-icon:nth-child(5) a i {
    background-color: #88b2b9;
}
.menuEx-icons .menuEx-icons-group:nth-child(1) .menuEx-icon:nth-child(6) a i {
    background-color: #8897b9;
}

.menuEx-icons .menuEx-icons-group:nth-child(2) .menuEx-icon:nth-child(1) a i {
    background-color: #2ca9e1;
}
.menuEx-icons .menuEx-icons-group:nth-child(2) .menuEx-icon:nth-child(2) a i {
    background-color: #ec6d71;
}
.menuEx-icons .menuEx-icons-group:nth-child(2) .menuEx-icon:nth-child(3) a i {
    background-color: #00a381;
}
.menuEx-icons .menuEx-icons-group:nth-child(2) .menuEx-icon:nth-child(4) a i {
    background-color: #e6b422;
}
.menuEx-icons .menuEx-icons-group:nth-child(2) .menuEx-icon:nth-child(5) a i {
    background-color: #e95295;
}
.menuEx-icons .menuEx-icons-group:nth-child(2) .menuEx-icon:nth-child(6) a i {
    background-color: #d9333f;
}

.menuEx-icons .menuEx-icon a span {
    display: block;
    width: 4.8rem;
    margin: 0.6rem auto 2.2rem;
    color: #434343;
}

.menuEx-exit, .menuEx-exit2 {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 50px;
    width: 100%;
    font-size: 2rem;
    color: #f07c01;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #eee;
}

.menuEx-exit i{
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.menuEx-exit2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
}

.menuEx-exit2 i{
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: block;
    line-height: 50px;
}

.menuEx-exit2 i:nth-child(1){
    border-right: 0.01rem solid #e8dfdf;
    font-size: 1.8rem;
}
/*style for menu extension end*/

/*style for Horizontal Swipe start*/
.horizontalSwipe {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.horizontalSwipe-content {
    position: relative;
    width: 600%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.horizontalSwipe-pageView {
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontalSwipe-pageView span{
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    line-height: 2.2rem;
    flex: 0 0 auto;
}

.horizontalSwipe-content .horizontalSwipe-pageView:nth-child(1){
    background: -webkit-linear-gradient(#06A3EA, #2095F2);
    background: linear-gradient(#06A3EA, #2095F2);
}

.horizontalSwipe-content .horizontalSwipe-pageView:nth-child(2){
    background-color: #ef5350;
}

.horizontalSwipe-content .horizontalSwipe-pageView:nth-child(3){
    background-color: #41CDDB;
}

.horizontalSwipe-content .horizontalSwipe-pageView:nth-child(4){
    background-color: #FF8A8A;
}

.horizontalSwipe-content .horizontalSwipe-pageView:nth-child(5){
    background-color: rgba(22, 160, 133, 0.8);
}

.horizontalSwipe-content .horizontalSwipe-pageView:nth-child(6){
    background-color: rgba(245, 224, 80, 0.8);
}

.horizontalSwipe-pageNumber {
    position: absolute;
    left: 35%;
    bottom: 5vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    height: 2rem;
}

.horizontalSwipe-pageNumber>div {
    flex: 1 1 auto;
    position: relative;
}

.horizontalSwipe-pageNumber>div:after{
    content: "";
    width: .4em;
    height: .4em;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.2em;
    margin-top: -.2em;
    background-color: rgba(255,255,255,.5);
}

.horizontalSwipe-pageNumber>div.now:after{
    background-color: rgba(255,255,255, 1);
}
/*style for Horizontal Swipe end*/

/*style for Vertical Swipe start*/
.verticalSwipe {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.verticalSwipe-content {
    position: relative;
    width: 100%;
    height: 600%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.verticalSwipe-pageView {
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalSwipe-pageView span{
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    line-height: 2.2rem;
    flex: 0 0 auto;
}

.verticalSwipe-content .verticalSwipe-pageView:nth-child(1){
    background: -webkit-linear-gradient(#06A3EA, #2095F2);
    background: linear-gradient(#06A3EA, #2095F2);
}

.verticalSwipe-content .verticalSwipe-pageView:nth-child(2){
    background-color: #ef5350;
}

.verticalSwipe-content .verticalSwipe-pageView:nth-child(3){
    background-color: #41CDDB;
}

.verticalSwipe-content .verticalSwipe-pageView:nth-child(4){
    background-color: #FF8A8A;
}

.verticalSwipe-content .verticalSwipe-pageView:nth-child(5){
    background-color: rgba(22, 160, 133, 0.8);
}

.verticalSwipe-content .verticalSwipe-pageView:nth-child(6){
    background-color: rgba(245, 224, 80, 0.8);
}

.verticalSwipe-pageNumber {
    position: absolute;
    top: 42%;
    right: 2.5vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 1rem;
    height: 16%;
}

.verticalSwipe-pageNumber>div {
    flex: 1 1 auto;
    position: relative;
}

.verticalSwipe-pageNumber>div:after{
    content: "";
    width: .4em;
    height: .4em;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.2em;
    margin-top: -.2em;
    background-color: rgba(255,255,255,.5);
}

.verticalSwipe-pageNumber>div.now:after{
    background-color: rgba(255,255,255, 1);
}
/*style for Vertical Swipe end*/

/*style for LazyLoading start*/
.lazyload-card{
    width: 46%;
    float: left;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    border-radius: 2px;
}
.lazyload-card:nth-child(odd){
    margin: 1rem 1% 0 3%;
}
.lazyload-card:nth-child(even){
    margin: 1rem 3% 0 1%;
}

.lazyload-card:nth-last-of-type(2),
.lazyload-card:nth-last-of-type(3){
    margin-bottom: 2rem;
}

.lazyload-imgWrapper{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.lazyload-img {
    width: 100%;
    display: none;
}

.lazyload-default {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.5rem;
    color: rgb(204, 204, 204);
    top: 50%;
    left: 50%;
    margin-left: -0.8rem;
    margin-top: -0.8rem;
}

.lazyload-actbar {
    font-size: 1rem;
    color: #666;
    font-weight: 500;
    padding: 0.7rem 0.3rem;
    border-top: 1px solid #eee;
}
.lazyload-actbar span {
    padding: 0 0.3rem;
}

.spin.lazyloading{
    float: left;
    width: 100%;
    margin-top: -1rem;
}
.spin.lazyloading:nth-child(1){
    margin-top: 0;
}

.lazyloading-tips{
    float: left;
    width: 100%;
    margin: -0.5rem auto 2rem;
    font-size: 1.1rem;
    color: #999;
    text-align: center;
    transition: opacity 2s linear;
    opacity: 1
}
/*style for LazyLoading end*/

/*style for CellSwipe start*/
.bin-cell-wrapper {
    position: relative;
}

.bin-cell-wrapper:before {
    position: absolute;
    right: 0;
    left: 0;
    top: -1px;
    height: 1px;
    content: "";
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #d9d9d9;
}

.bin-cell-wrapper:after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    content: "";
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #d9d9d9;
}

.bin-cell {
    display: block;
    background-color: #fff;
    box-sizing: border-box;
    height: 3.2rem;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.bin-cell:after{
    position: absolute;
    right: 0;
    left: 0.8rem;
    bottom: 0;
    height: 1px;
    content: "";
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #d9d9d9;
}

.bin-cell:last-child:after{
    height: 0;
}

.bin-cell-left{
    position: absolute;
    height: 100%;
    left: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    z-index: 1;
}

.bin-cell-right{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    z-index: 1;
}

.bin-cell-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 0 0.8rem;
    line-height: 1;
    height: 100%;
}

.bin-cell-title{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.bin-cell-value{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bin-cell-desc{
    margin: 1rem 0.6rem 0.8rem;
    font-size: 12px;
    color: #8f8f94;
    font-weight: normal;
}

.bin-cell-desc:nth-of-type(1){
    margin-top: 1.8rem;
}

.bin-cell-btnGroup{
    height: 100%;
}

.bin-cell-swipe-btn{
    display: inline-block;
    height: 100%;
    line-height: 3.2rem;
    padding: 0 10px;
}

.bin-cell-swipe.bin-cell-transition .bin-cell-left,
.bin-cell-swipe.bin-cell-transition .bin-cell-content,
.bin-cell-swipe.bin-cell-transition .bin-cell-right{
    -webkit-transition: -webkit-transform .15s ease-in-out;
    transition: -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
}
/*style for CellSwipe end*/

/*style for DialogBox start*/
.dialogbox-btn-wrapper {
    position: absolute;
    width: 100%;
    padding: 0 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dialogbox-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    color: #656b79;
    background-color: #f6f8fa;
    box-shadow: 0 0 2px #b8bbbf;
    border: 0;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    height: 3rem;
    position: relative;
}

.dialogbox-button:not(:last-child) {
    margin-bottom: 1.5rem;
}

.dialogbox-button>label{
    font-family: 'RobotoDraft', 'Roboto', "Microsoft Yahei", sans-serif;
}

.dialogbox-button:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    content: "";
    background-color: #000;
}

.dialogbox-button:active:after{
    opacity: 0.3;
}

.dialogbox-wrapper{
    position: absolute;
    z-index: 999;
    display: none;
}

.dialogbox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-color: #fff;
    width: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.1rem;
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}

.custom-dialogbox{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /*transform: translate3d(-50%,-500%,0); */
    transform: translate(-50%, -250%);
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    padding: 3rem;
    width: 18rem;
    text-align: center;
}

.custom-dialogbox-bounce-enter{
    animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.custom-dialogbox-bounce-leave{
    animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes roadRunnerIn{
    0% {
        transform: translate(-50%, -250%) scaleY(1.3);
    }

    55% {
        transform: translate(-50%, -30%) scaleY(0.8);
    }

    100% {
        transform: translate(-50%, -50%) scaleY(1);
    }
}

@keyframes roadRunnerOut{
    0% {
        transform: translate(-50%, -50%) scaleY(1);
    }

    45% {
        transform: translate(-50%, -70%) scaleY(0.8);
    }

    100% {
        transform: translate(-50%, 300%) scaleY(1.5);
    }
}

.custom-dialogbox h2{
    font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.custom-dialogbox p{
    font-size: 1.2rem;
}

.dialogbox-header{
    padding: 15px 0 0;
}

.dialogbox-header.no-content{
    padding: 15px 0 15px;
}

.dialogbox-title{
    text-align: center;
    font-weight: bold;
    color: #333;
}

.dialogbox-content{
    padding: 10px 20px 15px;
    border-bottom: 1px solid #ddd;
    min-height: 36px;
    position: relative;
}

.dialogbox-message{
    color: #999;
    margin: 0;
    text-align: center;
    line-height: 36px;
}

.dialogbox-content.input{
    padding: 0px 20px 10px;
}

.dialogbox-content.input .dialogbox-message{
    color: #333;
    font-size: 1rem;
}

.dialogbox-input{
    padding: 4px 0 5px;
}

.dialogbox-input input{
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 4px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dialogbox-errmsg{
    color: red;
    font-size: 0.8rem;
}

.dialogbox-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    line-height: 40px;
}

.dialogbox-btn{
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    margin: 0;
    border: 0;
    font-size: inherit;
    font-family: inherit;
}

.dialogbox-btn:not(:nth-last-of-type(1)){
    border-right: 1px solid #ddd;
}

.dialogbox-btn.highlight{
    color: #f0943f;
}

.dialogbox-overlayer{
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    display: none;
}

.dialogbox-bounce-enter{
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.7);
            transform: translate3d(-50%, -50%, 0) scale(0.7);
}

.dialogbox-bounce-leave{
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
            transform: translate3d(-50%, -50%, 0) scale(0.9);
}

/*style for DialogBox end*/